body {
    margin: 15px;

    background: #b2cefe;
    display: flex;
    flex-direction: column;
}

#shapes {
    /*margin-left: 3vw;*/
    /*margin-right: 3vw;*/
    height: calc( 33vh - 30px);
    display: flex;
    justify-content: space-evenly;
}

.shape {
    width: 25vh;
    height: 25vh;
    display: inline-block;
    margin-left: 3vw;
    margin-right: 3vw;

    cursor: pointer;
    text-align: center;
    line-height: 25vh;
    font-size: 3vh;
}

/* Handle portrait mode */
@media screen and (max-width: 1300px) and (min-height:1200px ) { .shape { width: 25vw; height: 25vw; line-height: 25vw; font-size: 3vw } }
@media screen and (max-width: 1200px) and (min-height:1100px ) { .shape { width: 25vw; height: 25vw; line-height: 25vw; font-size: 3vw } }
@media screen and (max-width: 1100px) and (min-height:1000px ) { .shape { width: 25vw; height: 25vw; line-height: 25vw; font-size: 3vw } }
@media screen and (max-width: 1000px) and (min-height: 900px ) { .shape { width: 25vw; height: 25vw; line-height: 25vw; font-size: 3vw } }
@media screen and (max-width:  900px) and (min-height: 800px ) { .shape { width: 25vw; height: 25vw; line-height: 25vw; font-size: 3vw } }
@media screen and (max-width:  800px) and (min-height: 700px ) { .shape { width: 25vw; height: 25vw; line-height: 25vw; font-size: 3vw } }
@media screen and (max-width:  700px) and (min-height: 600px ) { .shape { width: 25vw; height: 25vw; line-height: 25vw; font-size: 3vw } }
@media screen and (max-width:  600px) and (min-height: 500px ) { .shape { width: 25vw; height: 25vw; line-height: 25vw; font-size: 3vw } }
@media screen and (max-width:  500px) and (min-height: 400px ) { .shape { width: 25vw; height: 25vw; line-height: 25vw; font-size: 3vw } }
@media screen and (max-width:  400px) and (min-height: 300px ) { .shape { width: 25vw; height: 25vw; line-height: 25vw; font-size: 3vw } }
@media screen and (max-width:  300px) and (min-height: 200px ) { .shape { width: 25vw; height: 25vw; line-height: 25vw; font-size: 3vw } }

/* clickable button visual feedback - depress the whole shape when clicked/tapped */
.shape:active {
    transform: translate(3px, 3px);
}

[data-shape="square"] {
    background: /*orange*/ #f8b88b;
}
[data-shape="square"]:hover {
    background: orange;
}

[data-shape="triangle"] {
    background: /*red*/ #fea3aa;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}
[data-shape="triangle"]:hover {
    background: red;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

[data-shape="circle"] {
    background: /*green*/ #baed91;
    clip-path: circle(50% at 50% 50%);
}
[data-shape="circle"]:hover {
    background: green;
    clip-path: circle(50% at 50% 50%);
}

#log {
    height: calc( 70vh - 20px);
    background: rgba(0, 0, 0, 0.3);
}

#logText {
    height: calc(100% - 30px);
    padding: 0 15px;
    overflow: scroll;
}

h1 {
  display: none;
}
    
/*
 * vim: sts=4:ts=8:sw=4
 */
